apiVersion: v1
kind: Pod
metadata:
  name: netshoot
  namespace: kafka
spec:
  securityContext:
    runAsUser: 0
    runAsGroup: 0
    fsGroup: 0
  containers:
  - name: netshoot
    image: nicolaka/netshoot
    command: ["/bin/sh", "-c"]
    args:
      - |
        mkdir -p /etc/tls;
        echo "$KAFKA_CA_CERT" > /etc/tls/ca.crt;
        echo "$KAFKA_USER_CERT" > /etc/tls/user.crt;
        echo "$KAFKA_USER_KEY" > /etc/tls/user.key;
        chmod 600 /etc/tls/*;
        echo "TLS files written. Starting app...";
        sleep infinity
    env:
      - name: KAFKA_CA_CERT
        valueFrom:
          secretKeyRef:
            name: first-kafka-cluster-user
            key: ca.crt
      - name: KAFKA_USER_CERT
        valueFrom:
          secretKeyRef:
            name: first-kafka-cluster-user
            key: user.crt
      - name: KAFKA_USER_KEY
        valueFrom:
          secretKeyRef:
            name: first-kafka-cluster-user
            key: user.key