apiVersion: v1
kind: Pod
metadata:
  name: echo-server
  namespace: testing-apps
  labels:
    app: echo-server
spec:
  containers:
  - name: echoserver
    image: ealen/echo-server
    imagePullPolicy: IfNotPresent
    ports:
    - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: echo-service
  namespace: testing-apps
  labels:
    app: echo-server
spec:
  selector:
    app: echo-server
  ports:
  - port: 80
    targetPort: 80
    name: http
---
apiVersion: networking.istio.io/v1
kind: VirtualService
metadata:
  name: echo-virtualservice
  namespace: istio-ingress
spec:
  hosts:
  - "api.devops.local"
  gateways:
  - ingress-gateway
  http:
  - match:
    - uri:
        prefix: /echo
    route:
    - destination:
        host: echo-service.testing-apps.svc.cluster.local
        port:
          number: 80