# apiVersion: argoproj.io/v1alpha1
# kind: Application
# metadata:
#   name: istio-ingress
# spec:
#   project: default
#   source:
#     repoURL: https://github.com/sambo2021/helm-charts.git
#     path: charts/istio-ingress-test/gateway/
#     targetRevision: master
#   destination:
#     server: https://kubernetes.default.svc
#     namespace: istio-ingress
#   syncPolicy:
#     automated:
#       selfHeal: true