apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kafka-strimzi-rules
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/sambo2021/helm-charts.git
    path: charts/kafka-strimzi/strimzi-kafka-rule/
    targetRevision: master
  destination:
    server: https://kubernetes.default.svc
    namespace: kafka
  syncPolicy:
    automated:
      selfHeal: true