apiVersion: networking.istio.io/v1beta1
kind: Gateway
metadata:
  name: ingress-gateway
  namespace: istio-ingress
spec:
  selector:
    app: istio-ingress
    istio: ingress
  servers:
  - port:
      number: 80
      name: http
      protocol: HTTP
    hosts:
    - "api.devops.local"
  - port:
      number: 443
      name: https
      protocol: HTTPS
    hosts:
    - "api.devops.local"
    tls:
      mode: SIMPLE
      credentialName: api-devops-local  # the secret created by cert-manager